#outterprev{
	width:20%;
	height:50%;
	z-index:2;
	position:fixed;
	background-color:#566275;
	opacity:0.8;
	float:right;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#prevcan{
	position:relative;
	width:40%;
}
#freeDcanvas{
	position:fixed;
	width:100%;
	height:100%;
}
#name{
	position:relative;
	float:right;
	height:20%;
	width:40%;
	background-color:blue;
}
#values{
	width:100%;
	height:60%;
	background-color:yellow;
}
table{
	border: 1px solid black;
	margin-left:18%;
}
th{
	border: 1px solid black;
	width:30%;
}