#outterprev{
	width:350px;
	z-index:2;
	position:fixed;
	background-color:#566275;
	opacity:0.8;
	float:right;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
	padding: 10px;
	max-width: 100%;
}
#freeDcanvas{
	position:fixed;
	width:100%;
	height:100%;
}
table{
	border: 1px solid black;
	margin-left:18%;
}
th{
	border: 1px solid black;
	width:30%;
}
